{% load custom_tags %}
<div class="compare-list show">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">{{ team1.School }}</th>
            <th scope="col">{{ team2.School }}</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
            {% if stat != 'School' %}
            <tr>
                <th scope="row">{{ stat }}</th>
                <td>{{ team1|keyvalue:stat }}</td>
                <td>{{ team2|keyvalue:stat }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>